.container {
    padding: 0;
}

.serial-name {
    font-size: 2rem;
    font-weight: 300;
}

.line-clamp {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}