<div class="container">
  <div class="row">
    <div class="col">
      <span class="serial-name">{{ serial.name }}</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span>Genres:
        <span *ngFor="let genre of serialGenres">{{ genre }} </span>
        <span *ngIf="serialGenres.length === 0">Not specified</span>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span>Season: {{ serial.season }}</span>
    </div>
  </div>
  <span *ngIf="serial.airstamp"
    >Time of broadcast: {{ serial.airstamp | date: "H:mm" }}</span
  >
  <div *ngIf="serial.image?.medium" class="row">
    <div class="col">
      <img [src]="serial.image?.medium" />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div [innerHTML]="serial.summary"></div>
    </div>
  </div>
</div>
